<% if @error_message %>
  <div class="error_form">
    <%= @error_message %>
  </div>
<% end %>
<div class="error">
 <% @user.errors.full_messages.each do |message| %>
  <%= message %>
 <% end %>
</div>
<div class="account_edit">
  <h1>アカウント編集</h1>
  <%= form_with model: @user, html: { method: :patch } do |f|  %>
    <p>メールアドレス編集</p>
    <%= f.text_field :email, value: "#{@user.email}", class: "input_form" %>
    <p>パスワード編集</p>
    <%= f.password_field :password, class: "input_form", placeholder: "変更する場合のみ入力" %>
    <p>パスワード編集確認</p>
    <%= f.password_field :password_confirmation, class: "input_form", placeholder: "変更する場合のみ入力" %>
    <p>現在のパスワード</p>
    <%= f.password_field :password, name: :pass, class: "input_form", placeholder: "現在のパスワードを入力" %><br>
    <%= f.submit "更新", class: "edit_btn",name: :email_edit %>
  <% end %>
</div>